body{
    background-image: linear-gradient(to bottom right,black, white);
    color:gold;
    text-align: center;
}

#blue{ 
    color: blue;
}

#salmon{
    color: salmon;
}

h1{
    color: white;
}