<!DOCTYPE html>
<html>
    <head>
        <title>ME WEB PAGE</title>
        <link type="text/css" rel="stylesheet" href="static/styles.css">
    </head>
    <body id="body_index">
        <ul>
            <li><a class="active" href="/">Home</a></li>
            <li><a href="/page2">Second Page</a></li>
        </ul>
        <h1>Hello World</h1>
        <p>Some wordsdflkd</p>
        <div id="blue">
            <h3>all text from here until there is green</h3>
            <p>are these green</p>
            <p>i really hope they are</p>
            <h3>now we are there</h3>
        </div>
        <div id="salmon">
            <h4>is it possible for this to be salmon??</h4>
            <p>i will try my hardest</p>
            <h4>i think this may have succeded</h4>
        </div>
        <a href="/page2"> Link to second page</a>
        <br>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRV-PU0APR5XKA7HLuy7HNODnyeqwR8gAkQlyucHeUMb1R9EAuX" alt="STICKMAN">
    </body>
</html>