<!DOCTYPE html>
<html>
    <head>
        <title>Fencing Page</title>
        <link type="text/css" rel="stylesheet" href="static/styles.css">
    </head>
    <body id="body_page2">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a class="active" href="/page2">Fencing Page</a></li>
        </ul>
        <h1>My Fecning Portfolio</h1>
        <h3>What is fencing?</h3>
        <img id="fencingJoke" src="https://i.pinimg.com/originals/42/3c/b1/423cb1f1c5dc7c1f6db17e7f6e9435a4.jpg" alt="Fencing Jokes HAHA">
        <p>Fencing is the general term</p>
        <a href="/"> link to main page</a>
    </body>
</html>